<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>

<style>
    h1 {
        text-align: center;
    }

    .container1{
        margin: 0 auto;
        width: 70%;
    }

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box {
        min-height: 10px;
        min-width: 10px;
        background-color: cornflowerblue;
        border: 2px solid black;
    }
</style>

<body>
    <div class="container1">
        <h1>Welcome!</h1>
        <div class="container2">
            {% for i in range(0,num): %}
                <div class="box"></div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>